@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-bg-primary:#3C9AF0;
  --color-bg-secundary: #1E1E1E;
  --color-bg-tertiary: #C8C8C8;

  --color-primary: #FFF;
  --color-secundary:#5E5E5E;
  --color-tertiary:#3C9AF0;

}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
  }
  
  a,
  a:hover {
    text-decoration: none;
    color: unset;
  }
  
  html,
  body {
    background-color: var(--color-bg-primary);
  }
  
